/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v18-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto-v18-latin-regular.woff') format('woff');
}

html, body {
    overflow: hidden;
    height: 100%;
}

body, div, span, h1, h2, h3, h4, h5, h6 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

pre {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    cursor: text;
}

.tile.is-child > .box {
    height: 100%;
}

.has-padding {
    padding: 2rem;
    position: relative;
}

.clickable-box {
    cursor: pointer;
}

.clickable-box label {
    pointer-events: none;
}

.is-max-height {
    height: 100%;
}

.is-bottom-floating {
    position: absolute;
    bottom: 0;
}

.is-right-floating {
    position: absolute;
    right: 0;
}

.has-padding .is-right-floating {
    right: 1rem;
}

.is-left-floating {
    position: absolute;
    left: 0;
}

.has-padding .is-left-floating {
    left: 1rem;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    padding: 20px;
    background: #fff;
}
