---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Compatibility" id="compatibility">
  <Fragment slot="lead">
    128Bit-Yuzu Installer runs on <span class="text-primary">Windows 10</span> or Later
  </Fragment>
</ContentSection>
