<div>
  <h2 class="gradient-text text-center font-extrabold tracking-tight text-6xl">
    Disclaimer
  </h2>
  <br />
  <div class="px-6 text-center text-xl">
    <p>
      <strong>Warranty:</strong> This installer is provided as is, without warranty
      of any kind. The author is not responsible for any damage caused by the use
      of this installer. Use at your own risk. We are not responsible for any loss
      of save files or system files.
    </p>
    <br />
    <br />
    <p>
      <strong>Yuzu Data vs Yuzu Program:</strong> This installer will install yuzu
      program on your computer in the folder called yuzu-early-access or yuzu-mainline
      (Depending on your selection) inside the installer's folder. First Time Launching
      yuzu will create a new yuzu data folder called yuzu in AppData. Please do not
      put the yuzu data in the same folder as the installer will delete other files
      apart from the programs itself.
    </p>
    <br />
    <br />
    <p>
      <strong>Losing Save Data:</strong> This installer is an app. Please install
      it to a separate directory to your yuzu installation. If you install it to
      the same directory as your yuzu installation, you may lose your save data.
    </p>
    <br />
    <br />
    <p>
      <strong>Repair:</strong> If you have any issues with the yuzu installation
      you can use the repair function to fix it. But please be warned that it will
      remove everything in the installer's directory include yuzu program.
    </p>
    <br />
    <br />
    <p>
      <strong>License:</strong> The installer is licensed under the Apache License
      version 2.0. By downloading the installer, you agree to the terms of the license.
    </p>
    <br />
    <br />
    <p>
      <strong>Other Questions:</strong> If you have any other questions, please ask
      in the discord servers at the bottom.
    </p>
  </div>
</div>
