<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title id="window-title">... Installer</title>

    <link rel="icon" href="/favicon.ico" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="/css/bulma.min.css" type="text/css">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
</head>
<body class="is-max-height">
    <div class="fullscreen" id="ie-blackout" style="display: none">
        <div class="title">Your computer is out of date.</div>
        <div class="subtitle">
            Make sure that your computer is up to date, and that you have Internet Explorer 11 installed.
        </div>
        <div class="subtitle">
            Please note we do not support pirated or unsupported versions of Windows.
        </div>
    </div>

    <script type="text/javascript">
        if (!document.__proto__) {
            document.getElementById("ie-blackout").style.display = "block";
        }
    </script>

    <div id="app" class="is-max-height">
        <section class="section is-max-height">
            <div class="container is-max-height">
                <div class="columns is-max-height">
                    <div class="column is-one-third has-padding" v-if="!metadata.is_launcher">
                        <img src="/logo.png" width="60%" />
                        <br />
                        <br />

                        <h2 class="subtitle" v-if="!metadata.preexisting_install">
                            Welcome to the {{ attrs.name }} installer!
                        </h2>
                        <h2 class="subtitle" v-if="!metadata.preexisting_install">
                            MostlyWhat in Collaboration with 128BitBay!
                        </h2>
                        <h2 class="subtitle" v-if="!metadata.preexisting_install">
                            We will have you up and running in just a few moments.
                        </h2>

                        <h2 class="subtitle" v-if="metadata.preexisting_install">
                            Welcome to the {{ attrs.name }} Maintenance Tool.
                        </h2>
                    </div>

                    <router-view></router-view>
                </div>
            </div>
        </section>
    </div>

    <script src="/js/vue.min.js" type="text/javascript"></script>
    <script src="/js/vue-router.min.js" type="text/javascript"></script>
    <script src="/api/attrs" type="text/javascript"></script>
    <script src="/js/helpers.js" type="text/javascript"></script>
    <script src="/js/views.js" type="text/javascript"></script>
    <script src="/js/main.js" type="text/javascript"></script>
</body>
</html>
